/data
/model
/etc
/sec
*.svs
*.png
!/build/src/patch_sample.png
*.hdf5
*.xml
*.pyc
*.ipynb
/build/src/*.ipynb
/build/src/util/__pycache__
/build/src/.ipynb_checkpoints
core.*
/config/nginx
/build/src/model
/build/src/.Trash-0
/build/src/.ipynb_checkpoints
/build/src/__pycache__
*.swp
/config
/sec
/svc
docker-compose-nginx.yml
